div{
    border: 1px dotted red;
}
body{
    background-color: green;
    text-align: center;
    font-size: 15px;
    margin: 20px;
    color:black;
}
#akanNames{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-image: url(./Assets/coolghana.webp);
    background-size: cover;
    color: white;
}
#akanNames h2{
color: black;
}
P{
    font-style: italic;
    font-weight: 600;
}