body{
    background-color: green;
    text-align: center;
    font-size: 15px;
    margin: 20px;
    color:black;
}
#akanNames{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-image: url(./Assets/coolghana.webp);
    background-size: cover;
    color: white;
}
#akanNames h2{
color: black;
font-size: xx-large;
}
P{
    font-style: italic;
    font-weight: 600;
}
.female{
    margin-left: 70px;
}
.male{
    margin-right: 50px;
}
#akanNames li{
    font-style: italic;
}